#content {
  .container {
    .breadcumb {
      @include display-flex();
      padding: 15px;
      border-bottom: 1px solid #cccccc;
      ul {
        @include display-flex();
        li {
          font-size: 22px;
          a {
            text-decoration: none;
            color: $text-color;
          }
          &:first-child {
            &:before {
              display: none;
            }
          }
          &:before {
            content: '\f101';
            font-family: FontAwesome, sans-serif;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 22px;
          }
        }
      }
    }
    .my-ip-add {
      .title {
        margin-top: 30px;
        font-size: 22px;
        margin-bottom: 5px;
        color: $text-color;
        span {
          font-weight: bold;
          color: $blue;
        }
      }
      table {
        td {
          border: 1px solid #cccccc;
          font-size: 13px;
          line-height: 24px;
          padding: 0 20px 0 10px;
        }
      }
    }
    .services-searching {
      margin-top: 25px;
      .labels {
        font-size: 13px;
        font-weight: bold;
      }
      .form-group {
        @include display-flex();
        margin-top: 10px;
        .form-control {
          width: 400px;
        }
        button {
          margin-left: 15px;
        }
      }
    }
    .searching-results {
      margin-top: 30px;
      .result-code {
        margin-top: 30px;
        code {
          font-family: monospace, sans-serif;
          font-size: 13px;
        }
        pre {
          background-color: #f4f4f4;
          padding-left: 30px;
          padding-top: 10px;
          border: 1px solid #cccccc;
        }
      }
    }
    .about-services {
      .title {
        font-size: 22px;
        color: $text-color;
        margin-bottom: 5px;
        margin-top: 30px;
      }
      .description {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}