.btn {
  display: block;
  line-height: 36px;
  border: none;
  @include box-sizing(border-box);
  @include border-radius(3px);
  height: 36px;
  padding: 0 20px;
  &-lg {
    line-height: 46px;
    height: 46px;
  }
  &-blue {
    background-color: $blue;
    color: white;
  }
}

.form-control {
  line-height: 36px;
  height: 36px;
  border: 1px solid #cccccc;
  @include box-sizing(border-box);
  @include border-radius(3px);
  padding: 0 15px;
  @include transition(ease, .3s);
  &:hover {
    @include transition(ease, .3s);
    border: 1px solid $blue;
  }
  &:focus {
    @include transition(ease, .3s);
    border: 1px solid $blue;
    outline: none;
    @include box-shadow(0 0 20px $input-shadows);
  }
}