#footer {
  margin-top: 30px;
  .container {
    background-color: #555555;
    padding: 30px 0;
    p {
      color: white;
      font-size: 13px;
      line-height: 20px;
      padding-left: 30px;
    }
  }
}