#header {
  .container {
    .logo {
      padding: 15px 0;
      img {
        width: 200px;
        height: auto;
      }
    }
    .bottom-menu {
      width: 100%;
      background-color: $blue;
      ul {
        @include display-flex();
        padding-left: 15px;
        padding-right: 15px;
        li {
          padding-right: 20px;
          &:last-child {
            padding-right: 0;
          }
          a {
            color: white;
            font-size: 13px;
            font-weight: normal;
            line-height: 40px;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}